<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task_1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sample">
        <div v-show="!showTable">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" v-model="email">
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" v-model="firstName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" v-model="lastName">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" v-model="phone">
            </div>

            <div class="form-group">
            <label for="button">Guests</label>
            <button type="button" class="btn btn-primary" @click="addInput">+</button> 
            </div>

            <ul class="list-group">
                <li class="list-group-item" for="text" v-for="(guest, index) in guests">
                    <label @dblclick="deleteGuest(index)">
                        Guest {{ index + 1 }}
                    </label>
                    <br>
                    <input type="text" class="form-control" v-model="guests[index]"> 
                </li>
            </ul> 

            <hr>
            <button class="btn btn-success" 
                    @click="showTable = !showTable"
                    >
                    Send Data
            </button>
        </div>

        <div v-show="showTable">
            <h2>All done!</h2>
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Email</th>
                    <td>{{ email }}</td>
                  </tr>
                  <tr>
                    <th>Name</th>
                    <td>{{ fullName }}</td>
                  </tr>
                  <tr>
                    <th>Phone</th>
                    <td>{{ phone }}</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>
                        <table class="table table-bordered">
                            <tr v-for="guest in guests">
                                <td>{{ guest }}</td>
                            </tr>
                        </table>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
    <script>
        let sample = new Vue({
            el: '.sample',
            data: {
                guests: [],
                email: '',
                firstName: '',
                lastName: '',
                phone: '',
                showTable: false, 
            },
            computed: {
                fullName() {
                    return this.firstName + ' ' + this.lastName;
                }
            },
            methods: {
                addInput() {
                    this.guests.push(' ');
                },

                deleteGuest(index){
                this.guests.splice(index, 1);
            }
            }
        });

    </script>
</body>
</html>
