<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task_2.1</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sample">
            <form>
        		<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<div>
					<div class="form-group">
	                    <label>{{ info[0].name }}</label>
						<input type="text" class="form-control" v-model="info[0].value">
	                </div>
				</div>
				<div>
					<div class="form-group">
	                    <label>{{ info[1].name }}</label>
	                    <input type="text" class="form-control" v-model="info[1].value">
	                </div>
				</div>
				<div>
					<div class="form-group">
	                    <label>{{ info[2].name }}</label>
	                    <input type="text" class="form-control" v-model="info[2].value">
	                </div>
				</div>
				<div>
					<div class="form-group">
	                    <label>{{ info[3].name }}</label>
	                    <input type="text" class="form-control" v-model="info[3].value">
	                </div>
				</div>
				<div>
					<div class="form-group">
	                    <label>{{ info[4].name }}</label>
	                    <input type="text" class="form-control" v-model="info[4].value">
	                </div>
				</div>
				<button class="btn btn-primary">
					Send Data
				</button>
			</form>
			<br>
			<div>
				<table class="table table-bordered">
					<tr>
						<th>{{ info[0].name }}</th>
						<td>{{ info[0].value }}</td>
					</tr>
					<tr>
						<th>{{ info[1].name }}</th>
						<td>{{ info[1].value }}</td>
					</tr>
					<tr>
						<th>{{ info[2].name }}</th>
						<td>{{ info[2].value }}</td>
					</tr>
					<tr>
						<th>{{ info[3].name }}</th>
						<td>{{ info[3].value }}</td>
					</tr>
					<tr>
						<th>{{ info[4].name }}</th>
						<td>{{ info[4].value }}</td>
					</tr>
				</table>
			</div>
		</div>
    </div>
	<script>
		
		new Vue({
			el: '.sample',
			data: {
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				]
			}
		});
	</script>
</body>
</html>